*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html, body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: #000000;
    /* display: grid;
    grid-template-rows: 100px calc(100% - 200px) 100px;
    grid-template-columns: 20% 80%; */
    
    
    /* grid-template-columns: 20% 80%;
    grid-template-rows: repeat(2,20%) 60% ; */
    /* grid-template-columns:  20% minmax(10%,30%) 50%;
    grid-template-rows: 50% 50%; */
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100px calc(100% - 200px) 100px;
    grid-template-areas: 
    "header header"
    "aside section"
    "footer footer"
    ;
    gap: 20px;
}
.box{
    border: 2px solid #ffffff;
    background-color: pink;
}

header{
    grid-area: header;
    
    background-color: lightblue;
}
aside{
    grid-area: aside;
    background-color: palevioletred;
}
section{
    grid-area: section;
    background-color: palegoldenrod;
}
footer{
    grid-area: footer;
    background-color: rgb(67, 226, 27);
}