*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html, body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: #000000;
    display: grid;
    grid-template-rows: 100px calc(100% - 200px) 100px;
    grid-template-columns: 20% 80%;
    
    
    /* grid-template-columns: 20% 80%;
    grid-template-rows: repeat(2,20%) 60% ; */
    /* grid-template-columns:  20% minmax(10%,30%) 50%;
    grid-template-rows: 50% 50%; */
    
}
.box{
    border: 2px solid #ffffff;
    background-color: pink;
}

header{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: lightblue;
}
aside{
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: palevioletred;
}
section{
    background-color: palegoldenrod;
    grid-column: 2/3
}
footer{
    grid-column: 1/3;
    background-color: rgb(67, 226, 27);
}